# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Chutter.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity projects\Unity 2021\Chutter\.idea\.idea.Chutter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
